/venv*
/.idea
interacted_users.*
scrapped_users.json
filtered_users.json
sessions.json
targets.txt
*.pyc
.DS_Store
screenshots
crashes
filter.json
whitelist.txt
blacklist.txt
/build
/dist
/*.egg-info
